<div class="row">
    <div class="col-12 mb-4">
        <button (click)="changeDefaultMenuType('menu-default')" class="btn btn-outline-primary mb-1 mr-1">{{'menu.default' | translate}}</button>
        <button (click)="changeDefaultMenuType('menu-sub-hidden')" class="btn btn-outline-primary mb-1 mr-1">{{'menu.subhidden' | translate}}</button>
        <button (click)="changeDefaultMenuType('menu-hidden')" class="btn btn-outline-primary mb-1 mr-1">{{'menu.hidden' | translate}}</button>
    </div>
</div>