<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ 'dashboards.logs' | translate }}</h5>
        <div class="dashboard-logs">
            <perfect-scrollbar class="scroll" [config]="{suppressScrollX: true, wheelPropagation: false}">
                <table class="table table-sm table-borderless">
                    <tbody>
                        <tr *ngFor="let log of data">
                            <td>
                                <span [class]="'log-indicator align-middle '+ log.color"></span>
                            </td>
                            <td>
                                <span class="font-weight-medium">{{log.label}}</span>
                            </td>
                            <td class="text-right"><span class="text-muted">{{log.time}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </perfect-scrollbar>
        </div>
    </div>
</div>