  <footer class="page-footer">
    <div class="footer-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 col-sm-6">
            <p class="mb-0 text-muted"> {{ 'general.copyright' | translate }}</p>
          </div>  
          <div class="col-sm-6 d-none d-sm-block">
            <ul class="breadcrumb pt-0 pr-0 float-right">
              <li class="breadcrumb-item mb-0">
                <a   href="/app/pages/miscellaneous/faq"   class="btn-link"> {{ 'menu.faq' | translate }}</a>
              </li>
             
              <li class="breadcrumb-item mb-0">
                <a href="/app/pages/miscellaneous/search" class="btn-link">  {{ 'menu.manual' | translate }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer> 