<div class="row">
  <div class="col-12 col-lg-6 mb-4">
    <h5 class="mb-4">Reactive</h5>
    <app-reactive-basic></app-reactive-basic>
    <app-reactive-common></app-reactive-common>
    <app-reactive-external></app-reactive-external>
  </div>
  <div class="col-12 col-lg-6 mb-4">
    <h5 class="mb-4">Template Driven</h5>
    <app-template-basic></app-template-basic>
    <app-template-common></app-template-common>
  </div>
</div>
<div class="row">
  <div class="col-12 col-xl-6 mb-4">
    <h5 class="mb-4">Layouts</h5>
    <app-layouts-validation></app-layouts-validation>
  </div>
  <div class="col-12 col-xl-6 mb-4">
    <h5 class="mb-4">Tooltip Positioning</h5>
    <app-tooltip-positions></app-tooltip-positions>
  </div>
</div>
