<div class="row app-row">
    <div class="col-12">
        <app-heading></app-heading>
        <div class="top-right-button-container text-zero">


           


            <div dropdown>
                <button id="button-basic" dropdownToggle type="button" placement="bottom right"
                  class="btn btn-outline-primary dropdown-toggle btn-lg" aria-controls="dropdown-basic">{{'leave.add-new' | translate }} <span
                    class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
                  aria-labelledby="button-basic">
                  <li role="menuitem"><a class="dropdown-item" href="javascript:;"  (click)="showAddNewModal(2)">{{ 'leave.leave-sick' | translate }}</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="javascript:;"  (click)="showAddNewModal(3)">{{ 'leave.leave-personal' | translate }}</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="javascript:;"  (click)="showAddNewModal(4)">{{ 'leave.app-maternity' | translate }}</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="javascript:;"  (click)="showAddNewModal(1)">{{ 'leave.app-vacation' | translate }}</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="javascript:;"  (click)="showAddNewModal(5)">{{ 'leave.app-ordain' | translate }}</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="javascript:;"  (click)="showAddNewModal(11)">{{ 'leave.app-helping-wife' | translate }}</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="javascript:;"  (click)="showAddNewModal(10)">{{ 'leave.app-personal-baby' | translate }}</a></li>
                  
                </ul>
               </div>
               
               
        </div>
         <app-breadcrumb></app-breadcrumb> 



        <div class="display-options-container">
            <a class="btn pt-0 pl-0 d-inline-block d-md-none c-pointer" data-toggle="collapse"
                (click)="displayOptionsCollapsed = !displayOptionsCollapsed" role="button" aria-expanded="true"
                aria-controls="displayOptions">
                {{ 'leave.display-options' | translate}} {{' '}}
                <i class="simple-icon-arrow-down align-middle"></i>
            </a>
            <div id="displayOptions" [collapse]="displayOptionsCollapsed" class="collapse dont-collapse-sm">
                <div class="d-block d-md-inline-block">
                    <div class="float-md-left mr-1 mb-1" dropdown>
                        <button id="button-basic" dropdownToggle type="button"
                            class="btn btn-outline-dark btn-xs dropdown-toggle" aria-controls="dropdown-basic">
                            {{ 'leave.orderby' | translate}}   : {{itemOrder}} <span class="caret"></span>
                        </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu"
                            aria-labelledby="button-basic">
                            <li role="menuitem" *ngFor="let item of itemOptionsOrders"><a
                                    [ngClass]="item === itemOrder ? 'dropdown-item active' : 'dropdown-item'"
                                    (click)="itemOrder = item">{{item}}</a></li>
                        </ul>
                    </div>
                </div>
                <div class="d-inline-block">
                    <div class="search-sm d-inline-block float-md-left mr-1 mb-1 align-top">
                        <input class="form-control"  placeholder=" {{ 'leave.search' | translate}}   "    (keyup)="updateFilter($event)" >
                       
                    </div>
                </div>
                <div class="float-right" id="pageCountDatatable">
                    <span class="text-muted text-small">1-10 of 40 </span>
                    <span dropdown class="d-inline-block position-relative">
                        <button class="btn btn-outline-dark btn-xs dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false" dropdownToggle>
                            {{itemsPerPage}}
                        </button>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-sm text-right" *dropdownMenu>
                            <li role="menuitem" *ngFor="let item of itemOptionsPerPage"><a
                                    [ngClass]="item === itemsPerPage ? 'dropdown-item active' : 'dropdown-item'"
                                    (click)="itemsPerPage = item">{{item}}</a></li>
                        </div>
                    </span>
                </div>
            </div>
            <div class="separator mb-4"></div>
        </div> 
    </div>
    <ng-container *ngIf="leaveItems; else loading">
        <div class="col-12" *ngFor="let item of leaveItems; let i=index">
            <div [ngClass]="{'card d-flex mb-3 card': true, 'active':isSelected(item)}">
                <div class="d-flex flex-grow-1 min-width-zero">
                    <div
                        class="align-self-center d-flex flex-column flex-md-row justify-content-between min-width-zero align-items-md-center card-body">
                        <a class=" mb-0 truncate w-20 w-xs-100  mb-1 mt-1" id="toggler1" 
                        [routerLink]="'/app/applications/leave/'+ item.id">
                            <i
                                [ngClass]="{'heading-icon':true, 'simple-icon-user-following' : item.status === 'COMPLETED', 'iconsminds-stethoscope' : item.status !== 'COMPLETED' }"></i>
                            <span *ngIf="item.status == 'ACTIVE'" class="align-middle d-inline-block">{{'leave.leave-sick' | translate}} </span>
                            <span *ngIf="item.status == 'COMPLETED'"  class="align-middle d-inline-block"> {{'leave.leave-personal' | translate}} </span>
                        
                        </a>
                        <a class="  mb-0 truncate w-20   mb-1 mt-1" id="toggler1" 
                            [routerLink]="'/app/applications/leave/'+ item.id">
                                <i  class="iconsminds-qr-code"></i> <span class="align-middle" > {{'leave.leave-code' | translate}} :  63252136464 </span>
                             
                        </a>
                        <p class="mb-1      w-10 w-xs-100">{{'leave.amount' | translate}}   2.5  {{'leave.day' | translate}} </p>
                        <p class="mb-1    w-20 w-xs-150"> {{'leave.days' | translate}}  {{ item.date }} - {{ item.date }} </p>
                        <div class="w-10 w-xs-300"><span
                                [class]="'badge badge-pill badge-' + item.labelColor">อนุญาต  </span></div>
                    </div>
                    <div  *ngIf="item.status == 'ACTIVE'"  class="custom-control custom-checkbox pl-1 align-self-center mr-4 c-pointer"> 
                        <a     class="btn btn-xs btn-warning mb-1 ml-2 " (click)="showAddNewModal(10)"> <i class="iconsminds-power-2"></i> {{'leave.leave-cancel' | translate}}</a>  
                    </div>
                    <div  *ngIf="item.status == 'COMPLETED'"  class="custom-control custom-checkbox pl-1 align-self-center mr-4 c-pointer"> 
                        <a    class="btn btn-xs btn-danger mb-1 ml-2 " (click)="showAddNewModal(10)"> <i class="simple-icon-trash"></i> {{'leave.leave-delete' | translate}}</a>  
                    </div>
                </div>
                <!-- <div class="card-body pt-1">
                    <p class="mb-0">{{ item.detail }}</p>
                </div> -->
            </div>
        </div>
    </ng-container>
    <ng-template #loading>
        <div class="loading"></div>
    </ng-template>
</div>
  <app-add-new-leave-modal #addNewModalRef></app-add-new-leave-modal>  
<app-application-menu>
    <div class="p-4 h-100">
        <div class="scroll">
            <h3 class="text-muted  ">{{ 'leave.summary' | translate }}</h3>
            <ul class="list-unstyled mb-5">
                <li class="active">
                    <a href="javascript:;">
                        <i class="simple-icon-check"></i>
                        ลาป่วย
                        <span class="float-right">12</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="simple-icon-check"></i>
                        ลากิจ
                        <span class="float-right">24</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="simple-icon-check"></i>
                        ลาพักผ่อน
                        <span class="float-right">10</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="simple-icon-check"></i>
                        ลาคลอด
                        <span class="float-right">90</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="simple-icon-check"></i>
                        ช่วยภริยา
                        <span class="float-right">15</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:;">
                        <i class="simple-icon-check"></i>
                        อุปสมบท
                        <span class="float-right">32</span>
                    </a>
                </li>
            </ul>
            <p class="text-muted text-small">{{ 'leave.lasttime' | translate }}</p>
            <ul class="list-unstyled mb-5">
                <li>   <a href="javascript:;"> 
                         <i class="simple-icon-check"></i>ลากิจ</a>
                </li>
                <li>   <a href="javascript:;"> 
                         <i class="simple-icon-calendar"></i>  {{ 'leave.days' | translate }} 12/04/62 - 12/04/62    </a>
                </li>
                <li>   <a href="javascript:;"> 
                         <i class="simple-icon-calculator"></i>  {{ 'leave.amount' | translate }} 0.5    {{ 'leave.day' | translate }}</a>
                    
                </li>
            </ul>
          
        </div>
    </div>
</app-application-menu>
