<div class="card mb-4">
  <div class="card-body">
    <h6 class="mb-4">Positions</h6>

    <form novalidate class="mb-5">
      <div class="tooltip-label-right">
        <div class="error-l-100 position-relative form-group">
          <label>Label Right</label>
          <input name="input1" type="text" class="form-control">
          <div class="invalid-tooltip">Label Right!</div>
        </div>
      </div>
      <div class="tooltip-center-top position-relative form-group">
        <label>Top Center</label>
        <input name="input2" type="text" class="form-control">
        <div class="invalid-tooltip">Top Center!</div>
      </div>
      <div class="tooltip-center-bottom position-relative form-group">
        <label>Bottom Center</label>
        <input name="input3" type="text" class="form-control">
        <div class="invalid-tooltip">Bottom Center!</div>
      </div>
      <div class="tooltip-left-top position-relative form-group">
        <label>Top Left</label>
        <input name="input4" type="text" class="form-control">
        <div class="invalid-tooltip">Top Left!</div>
      </div>
      <div class="tooltip-right-top position-relative form-group">
        <label>Top Right</label>
        <input name="input5" type="text" class="form-control">
        <div class="invalid-tooltip">Top Right!</div>
      </div>
      <div class="tooltip-left-bottom position-relative form-group">
        <label>Bottom Left</label>
        <input name="input6" type="text" class="form-control">
        <div class="invalid-tooltip">Bottom Left!</div>
      </div>
      <div class="tooltip-right-bottom position-relative form-group">
        <label>Bottom Right</label>
        <input name="input7" type="text" class="form-control">
        <div class="invalid-tooltip">Bottom Right!</div>
      </div>
      <button class="btn btn-primary">Submit</button>
    </form>

    <h6 class="mb-4">Label Right Position Helpers</h6>
    <form class="tooltip-label-right">
      <div class="error-l-0 position-relative form-group">
        <label>error-l-0</label>
        <input name="input8" required="" id="input8" type="text" class="form-control">
        <div class="invalid-tooltip">error-l-0</div>
      </div>
      <div class="error-l-25 position-relative form-group">
        <label>error-l-25</label>
        <input name="input9" required="" id="input9" type="text" class="form-control">
        <div class="invalid-tooltip">error-l-25</div>
      </div>
      <div class="error-l-50 position-relative form-group">
        <label>error-l-50</label>
        <input name="input10" required="" id="input10" type="text" class="form-control">
        <div class="invalid-tooltip">error-l-50</div>
      </div>
      <div class="error-l-75 position-relative form-group">
        <label>error-l-75</label>
        <input name="input11" required="" id="input11" type="text" class="form-control">
        <div class="invalid-tooltip">error-l-75</div>
      </div>
      <div class="error-l-100 position-relative form-group">
        <label>error-l-100</label>
        <input name="input12" required="" id="input12" type="text" class="form-control">
        <div class="invalid-tooltip">error-l-100</div>
      </div>
      <div class="error-l-125 position-relative form-group">
        <label>error-l-125</label>
        <input name="input13" required="" id="input13" type="text" class="form-control">
        <div class="invalid-tooltip">error-l-125</div>
      </div>
      <div class="error-l-150 position-relative form-group">
        <label>error-l-150</label>
        <input name="input14" required="" id="input14" type="text" class="form-control">
        <div class="invalid-tooltip">error-l-150</div>
      </div>
      <div class="error-l-175 position-relative form-group">
        <label>error-l-175</label>
        <input name="input15" required="" id="input15" type="text" class="form-control">
        <div class="invalid-tooltip">error-l-175</div>
      </div>
      <div class="error-l-200 position-relative form-group">
        <label>error-l-200</label>
        <input name="input16" required="" id="input16" type="text" class="form-control">
        <div class="invalid-tooltip">error-l-200</div>
      </div>
      <div class="error-l-225 position-relative form-group">
        <label>error-l-225</label>
        <input name="input17" required="" id="input17" type="text" class="form-control">
        <div class="invalid-tooltip">error-l-225</div>
      </div>
      <div class="error-l-250 position-relative form-group">
        <label>error-l-250</label>
        <input name="input18" required="" id="input18" type="text" class="form-control">
        <div class="invalid-tooltip">error-l-250</div>
      </div>
      <div class="error-l-275 position-relative form-group">
        <label>error-l-275</label>
        <input name="input19" required="" id="input19" type="text" class="form-control">
        <div class="invalid-tooltip">error-l-275</div>
      </div>
      <button class="btn btn-primary">Submit</button>
    </form>

  </div>
</div>
