<div>
    <div class="row">
        <div class="col-sm-12 col-md-6 mb-4">
            <app-website-visits-chart-card></app-website-visits-chart-card>
        </div>
        <div class="col-sm-12 col-md-6 mb-4">
            <app-conversion-rates-chart-card></app-conversion-rates-chart-card>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-lg-6 col-md-12 mb-4">
            <app-product-categories-doughnut></app-product-categories-doughnut>
        </div>
        <div class="col-xl-4 col-lg-6 col-md-12 mb-4">
            <app-profile-statuses></app-profile-statuses>
        </div>
        <div class="col-xl-4 col-lg-12 col-md-12">
            <app-small-line-charts></app-small-line-charts>
        </div>
    </div>
    <app-sortable-statistics-row></app-sortable-statistics-row>
    <div class="row">
        <div class="col-12 col-lg-6 mb-4">
            <app-order-stock-radar-chart></app-order-stock-radar-chart>
        </div>
        <div class="col-12 col-lg-6 mb-4">
            <app-product-categories-polar-area></app-product-categories-polar-area>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-4">
            <app-sales-chart-card></app-sales-chart-card>
        </div>
    </div>
</div>
