<div class="row equal-height-container mb-5">
  <div class="col-12">
    <h5 class="card-title">{{ 'pages.prices.pricecomparison' | translate }}</h5>
  </div>
  <div class="col-md-12 col-lg-4 col-item mb-4" *ngFor="let item of data[locale]">
    <app-price-card [price]="item"></app-price-card>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h5 class="card-title">{{ 'pages.prices.featurecomparison' | translate }}</h5>
  </div>
</div>
<app-feature-comparison></app-feature-comparison>
