<ng-template #template>





    <div class="modal-header">
        <h4 class="modal-title pull-left">{{'leave.add-new' | translate }} ({{leave_type_name}})</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
         <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-row">

                      <div class="form-group col-lg-12 mb-4">
                        <label>{{'leave.write-at'|translate}}</label>
                        <input  type="text" class="form-control" formControlName="txtwrite"  
                          [ngClass]="{ 'is-invalid':submitted && f.txtwrite.invalid }"  >
                        <div *ngIf=" submitted && f.txtwrite.invalid" class="invalid-feedback">
                          <div *ngIf="f.txtwrite.errors.required">First Name is required</div>
                        </div>
                      </div> 
                    </div>
                    <div class="form-row">
                      <div class="form-group col ">
                        <label>{{'leave.subject'|translate}} </label>
                     
                        <select  formControlName="subject" class="form-control"  formControlName="subject"
                        [ngClass]="{ 'is-invalid':submitted && f.subject.invalid }" disabled >
                          
                            <option value="1">ลาพักผ่อน</option>
                            <option value="2">ลาป่วย</option>
                            <option value="3">ลากิจส่วนตัว</option>
                            <option value="10">ลากิจส่วนตัวเพื่อดูแลบุตร</option>
                            <option value="11">ลาไปช่วยเหลือภริยาที่คลอดบุตร</option>
                            <option value="4">ลาคลอดบุตร</option>
                            <option value="5">ลาอุปสมบท</option>
                            <option value="6">ลาพิธีฮัจย์</option>
                            <option value="9">ลาติดต่อคู่สมรส</option>
                            <option value="12">ลาเข้ารับการตรวจเลือกหรือเตรียมพล</option>
                            <option value="14">ลาเข้ารับการตรวจเลือกหรือเตรียมพลกรณีพิเศษ</option>
                            <option value="13">ลาฟื้นฟูสมรรถภาพด้านอาชีพ</option>
                        </select>
                           
                        <div *ngIf=" submitted && f.subject.invalid" class="invalid-feedback">
                          <div *ngIf="f.subject.errors.required">{{'message.please-choose'|translate}} </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="col-12 col-lg-12 mb-4">
                        <label><span>{{'leave.inform'|translate}}</span></label>
                        <ng-select [items]="githubUsers$ | async" [multiple]="false" bindLabel="login" bindValue="login"
                        formControlName="inform" 
                          class="form-control" [ngClass]="{ 'is-invalid':submitted && f.inform.invalid }"
                          required>
                          <ng-template ng-label-tmp let-item="item" let-clear="clear">
                            <span class="ng-value-label"><img [src]="item.avatar_url" width="12px" height="12px">
                              {{item.login}}</span>
                          </ng-template>
                          <ng-template ng-option-tmp let-item="item">
                            <img [src]="item.avatar_url" width="12px" height="12px"> {{item.login}}
                          </ng-template>
                        </ng-select>
                        <div *ngIf=" submitted && f.inform.invalid" class="invalid-feedback">
                          <div *ngIf="f.inform.errors.required">{{ 'forms.state' | translate }} is selectedUsers
                          </div>
                        </div>
                      </div> 
                    </div>
 
                    <div class="form-row">
                      <div class="form-group col-md-12">
                        <label for="leave_aboard"> <h6>{{ 'leave.leave_aboard' | translate }}</h6></label>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input"   (change)="onChangeAboard()" formControlName="leave_aboard"   id="leave_aboard"   [ngClass]="{ 'is-invalid':submitted && f.leave_aboard.invalid }" required >
                        
                          <label class="custom-control-label" for="leave_aboard">
                            {{'leave.yes' | translate}}</label>
                        </div>

                      </div>
                    </div>
                      <div class="form-row">
                      <div class="form-group col-md-12">
                        <label class="font-lg"> <h6>{{'leave.leave_country'|translate}} </h6> </label>
                        <ng-select [items]="githubUsers$ | async" [multiple]="false" bindLabel="login" bindValue="login"
                        formControlName="leave_country"
                        class="form-control" [ngClass]="{ 'is-invalid':submitted && f.leave_country.invalid }"
                        *ngIf="{ required: f.leave_aboard.value  } "   >
                        <ng-template ng-label-tmp let-item="item" let-clear="clear">
                          <span class="ng-value-label"><img [src]="item.avatar_url" width="12px" height="12px">
                            {{item.login}}</span>
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item">
                          <img [src]="item.avatar_url" width="12px" height="12px"> {{item.login}}
                        </ng-template>
                      </ng-select>
                      <div *ngIf=" submitted && f.leave_country.invalid  " class="invalid-feedback">
                        <div *ngIf="f.leave_country.errors.required">  {{ f.leave_aboard.value }}  {{ 'leave.selectedCountry' | translate }} is selectedCountry
                        </div>
                      </div>
                      </div> 
                    </div>

 
                    <div class="form-row">
                      <div class="form-group col-md-8">
                        <label for="inputCity">{{ 'leave.date_from' | translate }}</label>
                        <input type="text"  class="form-control" bsDatepicker [container]="'html'"
                        formControlName="date_from"
                        [ngClass]="{ 'is-invalid':submitted && f.date_from.invalid }"  >
                        <div *ngIf=" submitted && f.date_from.invalid" class="invalid-feedback">
                          <div *ngIf="f.date_from.errors.required">date required</div>
                        </div>

                      </div>
                      <div class="form-group col-md-4">
                        <label for="leave_fullday_date_from"> {{'leave.leave_fullday' | translate}}/{{'leave.leave_halfday' | translate}}</label>
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input"  formControlName="leave_fullday_date_from" id="leave_fullday_date_from"   >
                          <label class="custom-control-label" for="leave_fullday_date_from">
                            {{'leave.leave_fullday' | translate}}</label>
                        </div>
                      </div>
                   
                      
                    </div>
  
                    <div class="form-row">
                     
                    
                        <div class="form-group col-md-8">
                          <label for="inputZip">{{ 'leave.date_end' | translate }}</label>
                          <input type="text"  formControlName="date_end" class="form-control" bsDatepicker [container]="'html'"
                        
                          [ngClass]="{ 'is-invalid':submitted && f.date_end.invalid }" required>
                      
                        <div *ngIf=" submitted && f.date_end.invalid" class="invalid-feedback">
                          <div *ngIf="f.date_end.errors.required">date required</div>
                        </div>
                        </div>
                        <div class="form-group col-md-4">
                          <label for="leave_fullday_date_end"> {{'leave.leave_fullday' | translate}}/{{'leave.leave_halfday' | translate}}</label>
                          <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input"  formControlName="leave_fullday_date_end" id="leave_fullday_date_end"  checked>
                            <label class="custom-control-label" for="leave_fullday_date_end">
                              {{'leave.leave_fullday' | translate}}</label>
                          </div>
                        </div>
                      </div>
 
                    <div class="form-group">
                      <label>{{ 'leave.leave_contact' | translate }}</label>
                      <input type="text"   class="form-control" formControlName="leave_contact"
                        [ngClass]="{ 'is-invalid':submitted && f.leave_contact.invalid }"    >
                      <div *ngIf="submitted && f.leave_contact.invalid" class="invalid-feedback">
                        <div *ngIf="f.leave_contact.errors.required">{{ 'leave.leave_contact' | translate }} is required</div>
                      
                      </div>
                    </div> 
                 
                    <div class="form-row">
                      <div class=" card-body text-center ">
                    <button   class="btn btn-success mb-1 mr-2"> <i class="iconsminds-save"></i> {{'leave.leave_save' | translate}}</button>
                    <a  class="btn btn-danger mb-1 ml-2 " (click)="modalRef.hide()"> <i class="simple-icon-trash"></i> {{'leave.leave_cancel' | translate}}</a>  
                  </div>
                </div> 
                   </form> 
    </div> 
</ng-template>